{{!-- header --}}
<section class="header" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
               
                <div class="content" >
                    <h1 class="title">Wachiye Siranjofu</h1>
                    <h5 class="sub-title">Freelance &amp; Web Developer</h5>
                    <p>Code is poetry, and a great developer is a master composer, crafting elegant solutions that harmonize form and function.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- values --}}
<section class="values">
    <div class="container">
        <div class="row">
            <div class="col-md-4 value-item">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="img/svg/lamp.svg" alt="">
                    <div class="content">
                        <h3 class="title">Dedication</h3>
                        <p class="text">Committed to excellence, driven by passion</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 value-item">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="img/svg/home.svg" alt="">
                    <div class="content">
                        <h3 class="title">Smart Work</h3>
                        <p class="text">Innovative solutions for complex problems</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 value-item">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="img/svg/brain.svg" alt="">
                    <div class="content">
                        <h3 class="title">Intelligence</h3>
                        <p class="text">Thinking outside the box to find creative solutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- about --}}
<section class="about" id="about-me">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-7">
                    <div class="section-title">
                        <span class="sub-title with-line">About Me</span>
                        <h2 class="title">Passionate driven by creativity</h2>
                    </div>
                    <p>I am a driven and talented software developer with a passion for creating innovative solutions
                        that meet the needs of
                        businesses and individuals alike.</p>

                    <p>With a strong background in multiple programming languages and a commitment to staying up-to-date
                        with the latest trends
                        and technologies, I am always pushing the boundaries of what is possible.</p>

                    <p>When I'm not coding, you'll find me exploring new ideas and finding creative ways to tackle
                        complex problems.</p>
                    <a href="/contact" class="btn btn-primary hire-me">Hire Me</a>
                </div>
                <div class="col-12 col-md-5 col-lg-5">
                    <img src="/img/about/me.png" alt="me" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

</section>
{{!-- clients --}}
<section class="clients">
    <div class="container-fluid">
        <div class="container">
            <span class="title with-line">I Have Worked With &amp; Developed For</span>
            <div class="row">
                <div class="col-12">
                    <div class="client-list">
                        <div class="client">
                            <a href="https://remotasks.com" target="_blank">
                                <img src="/img/partners/remotasks.svg" alt="Remotasks">
                            </a>
                        </div>
                        <div class="client">
                            <a href="https://aigot.com" target="_blank">
                                <img src="/img/partners/aigot.png" alt="aiGOT">
                            </a>
                        </div>
                        <div class="client">
                            <a href="https://egerton.ac.ke" target="_blank">
                                <img src="/img/partners/eu.png" alt="Egerton">
                            </a>
                        </div>
                        <div class="client">
                            <a href="https://zuritconsulting.com" target="_blank">
                                <img src="/img/partners/liz-consulting.svg" alt="Liz Consulting">
                            </a>
                        </div>
                        <div class="client">
                            <a href="https://kozi.co.ke" target="_blank">
                                <img src="/img/partners/kozi.png" alt="Kozi Connect">
                            </a>
                        </div>
                        <div class="client">
                            <a href="https://alisibeauty.com" target="_blank">
                                <img src="/img/partners/alisi.webp" alt="Alisi Beauty">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{!-- skills --}}
<section class="skills" id="skills">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-5">
                    <div class="section-title">
                        <span class="sub-title with-line">My Skills</span>
                        <h2 class="title">A glimpse into my expertise</h2>
                    </div>
                    <p>
                        By Leveraging a diverse set of technical and professional skills, I strive to provide
                        cutting-edge solutions that drive
                        success. From programming to project management, my expertise equips me to tackle complex
                        challenges with confidence and
                        precision
                    </p>
                </div>
                <div class="col-12 col-md-7 col-lg-7">
                    <ul class="list-inline">
                        <li class="list-inline-item mb-5">
                            <span class="skill">HTML</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">CSS</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">JavaScript</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">React</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Angular</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Vue</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">PHP</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Nodejs</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Java + SpringBoot</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">.NET (VB, C#)</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">SQL(MySQL, MS SQL, Oracle, PostgreSQL)</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">No SQL(Mongo DB)</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Git(GitHub)</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Heroku</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Vercel</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Cyclic</span>
                        </li>
                        <li class="list-inline-item mb-5">
                            <span class="skill">Render</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- services --}}
<section class="services" id="services">
    <div class="container">
        <div class="section-title">
            <span class="sub-title with-line">What I Do</span>
        </div>
        <div class="services-accordion">
            <div class="service-items">
                <div class="service-item web-design">
                    <div class="service-intro">
                        <h3>Web Design</h3>
                        <p>I offer high-quality website design (wire-framing and prototyping) services to individuals
                            and businesses.
                        </p>
                    </div>
                    <div class="service-content">
                        <a href="/contact?service=Web%20Design">
                            <h3>Web Design</h3>
                            <p>Integrating the latest technologies to create modern, responsive, and user-friendly
                                websites that meet your specific needs.
                                Whether you need a simple informational website or a complex e-commerce platform, I will
                                work with you to deliver a website that represents your brand and achieves your goals.
                                Contact me today
                                to discuss your project.</p>

                        </a>
                    </div>
                </div>
                <div class="service-item frontend">
                    <div class="service-intro">
                        <h3>Frontend Development</h3>
                        <p>Creating modern, top-notch, and user-friendly web applications using Next, React, Vue,
                            Angular, among other Frontend frameworks
                        </p>
                    </div>
                    <div class="service-content">
                        <a href="/contact?service=Frontend%20Development">
                            <h3>Frontend Development</h3>
                            <p>I have a solid experience in creating modern, responsive, and user-friendly front-end
                                applications using the latest technologies
                                such as HTML, CSS, JavaScript, with Next, React, Vue, and Angular. Whether you need a
                                single-page application or a complex web application, I will work with you to deliver a
                                solution that meets your specific requirements. Contact
                                me today to discuss your project.</p>

                        </a>
                    </div>
                </div>
                <div class="service-item api-development">
                    <div class="service-intro">
                        <h3>API Development &amp; Integration</h3>
                        <p>Custom API Development &amp; Integration services for your software needs: web, mobile,
                            desktop? Java, Node, PHP, .NET(C#), SpringBoot? I got you covered.</p>
                    </div>
                    <div class="service-content">
                        <a href="/contact?service=API%20Development">
                            <h3>API Development &amp; Integration</h3>
                            <p>Do you need a scalable and
                                secure API for your services? I specialize in building robust APIs (REST, GraphQL) that
                                connect your applications and services with external data sources. I also offer API
                                integration services to help you connect your
                                applications with third-party APIs such as social media APIs, payment gateways, and
                                more. Contact Me today to discuss
                                your project.</p>

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-accordion">
            <div class="service-items">
                <div class="service-item web-development">
                    <div class="service-intro">
                        <h3>Web Development</h3>
                        <p>
                            In today's digital age, having a professional and effective website is essential for any
                            business.</p>
                    </div>
                    <div class="service-content">
                        <a href="/contact?service=Web%20Development">
                            <h3>Web Development</h3>
                            <p>Over the years, I have gained the expertise and experience to create custom websites
                                tailored to your specific
                                business needs. Whether you need a simple website to showcase your products or services
                                or a complex e-commerce
                                platform, I got you covered. I wil use the latest web development technologies to ensure
                                your website is fast,
                                reliable, and optimized for search engines. Contact me today to learn more about the web
                                development services.</p>

                        </a>
                    </div>
                </div>
                <div class="service-item seo-optimization">
                    <div class="service-intro">
                        <h3>SEO Optimization</h3>
                        <p>Having a well-optimized website is crucial to rank higher on search
                            engine result pages and attract more traffic to your website.
                        </p>
                    </div>
                    <div class="service-content">
                        <a href="/contact?service=SEO%20Optimization">
                            <h3>SEO Optimization</h3>
                            <p>I have extensive skills and knowledge to optimize your website for search engines by
                                performing keyword
                                research, on-page optimization, and building high-quality backlinks. I use the latest
                                SEO tools and techniques to
                                ensure your website is well-optimized and ranks higher on search engine result pages.
                                Contact me today to learn more
                                about our SEO optimization services.</p>
                        </a>
                    </div>
                </div>
                <div class="service-item website-review">
                    <div class="service-intro">
                        <h3>Website Review</h3>
                        <p>Are you concerned that your website is not performing as well as it could be? Do you want to
                            identify potential issues
                            and areas for improvement on your website?</p>
                    </div>
                    <div class="service-content">
                        <a href="./?page=services/telematics">
                            <h3>Website Review</h3>
                            <p>Get a thorough analysis of your website's design, functionality, user experience, and
                                search engine optimization. This includes a detailed report on your website's strengths
                                and weaknesses, along with actionable
                                recommendations to improve your website's performance. Whether you want to increase
                                traffic, improve user experience, or
                                boost conversions, our website review services can help. Contact me today to learn more.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- stats --}}
<section class="stats">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="counter_list">
                <div class="counter-item">
                    <div class="number_wrap">
                        <span class="in">
                            <h3><span class="counter-item-data" data-from="0" data-to="30" data-speed="2000">30</span>+
                            </h3>
                        </span>
                    </div>
                    <span class="title">Happy Clients</span>
                </div>
                <div class="counter-item">
                    <div class="number_wrap">
                        <span class="in">
                            <h3><span class="counter-item-data" data-from="0" data-to="15" data-speed="2000">15</span>+
                            </h3>
                        </span>
                    </div>
                    <span class="title">Domains</span>
                </div>
                <div class="counter-item">
                    <div class="number_wrap">
                        <span class="in">
                            <h3><span class="counter-item-data" data-from="0" data-to="100"
                                    data-speed="2000">100</span>%
                            </h3>
                        </span>
                    </div>
                    <span class="title">Satisfaction</span>
                </div>

            </div>
        </div>

    </div>
</section>
{{!-- testimonials --}}
<section class="testimonials" id="testimonials">
    <div class="container">
        <div class="section-title mb-4">
            <span class="title with-line">Client Testimonials</span>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-2">
                <div class="testimonial">
                    <img src="/img/testimonials/liz.jpeg" alt="">
                    <div class="content p-2">
                        <blockquote class="blockquote">
                            <span class="quote-left"></span>
                            We were in a tight spot and needed a new website built from scratch. Siranjofu stepped up
                            and
                            delivered a top-notch site
                            in record time. We couldn't be happier with the result!
                            <div class="clear"></div>
                            <span class="blockquote-footer">CEO, Zurit Consulting</span>
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 mb-2">
                <div class="testimonial">
                    <img src="/img/testimonials/piermatteo-grieco.jpg" alt="">
                    <div class="content p-2">
                        <blockquote class="blockquote">
                            <span class="quote-left"></span>
                            Wachiye, among other talented software
                            developers, was a valuable partner on many projects and consistently exceeded our
                            expectations.
                            <div class="clear"></div>
                            <span class="blockquote-footer">CEO, aiGOT</span>
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 mb-2">
                <div class="testimonial">
                    <img src="/img/testimonials/me-and-razaq.png" alt="">
                    <div class="content p-2">
                        <blockquote class="blockquote">
                            <span class="quote-left"></span>
                            From start to finish, Siranjofu is always professional, communicative, and incredibly
                            skilled. The end results are
                            stunning websites that have helped our business reach new heights. Highly recommend!”
                            <div class="clear"></div>
                            <span class="blockquote-footer">DevOps, Kozi Connect</span>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{{!-- hire me --}}
<section class="hire-me" id="hire-me">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="section-title mb-4">
                <span class="title with-line">I Look Forward To Working With You</span>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-5 mb-2 position-relative">
                    <img src="/img/contact/contact-me.jpg" alt="hire-me" class="img-fluid">
                    <ul class="list-unstyled mt-5">
                        <li>
                            Phone 1: +254 790 983 123
                        </li>
                        <li>
                            Phone 2: +254 100 903 221
                        </li>
                        <li>
                            Email: siranjofuw@gmail.com
                        </li>
                        <li>
                            Address: Nairobi, Kenya
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 col-lg-7 mb-2">
                    <div class="hire-me-steps">
                        <ul>
                            <li>
                                <strong>1. Define Your Needs</strong>
                                <p>Have a clear idea of your project requirements to communicate your needs effectively
                                    and ensure I
                                    understand your expectations.</p>
                            </li>
                            <li>
                                <strong>2. Contact Me</strong>
                                <p>Let's discuss your project to deliver a solution that meets your specific
                                    requirements. Contact me today.</p>
                            </li>
                            <li>
                                <strong>3. Reach an Agreement</strong>
                                <p>
                                    Agree on project terms including scope of work, timeline, payment schedule and
                                    communication plan to avoid
                                    misunderstandings and ensure success.
                                </p>
                            </li>
                            <li>
                                <strong>4. Monitor Your Project</strong>
                                <p>
                                    Monitor progress, provide feedback, and address any issues to ensure on-time,
                                    on-budget, and satisfactory completion.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>