<nav class="navbar sticky-top navbar-expand-md" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Wachiye Siranjofu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav m-auto mt-2 mt-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#hire-me">Hire Me</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item position-relative">
                    <a class="nav-link resume-link" href="/">My Resume</a>
                </li>
            </ul>
        </div>
    </div>
</nav>